* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

.App {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.App header {
  padding: 10px;
  background-color: #0f0e0e;
  min-height: 5vh;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}

.title {
  font-size: 1.5em;
  color: #740390;
}

.auth-btn {
  width: 25%;
  padding: 5px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

#sign-in-btn {
  background-color: rgb(0, 255, 0);
}

#sing-out-btn {
  background-color: rgb(255, 0, 0);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #4211c9;
}

.chat-section {
  padding: 10px;
  margin: 5vh 0;
  height: 90vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

form {
  height: 5vh;
  position: fixed;
  bottom: 0;
  background-color: transparent;
  width: 100%;
  display: flex;
}

form button {
  outline: none;
  border: none;
  width: 25%;
  border-radius: 30px;
  background-color: rgb(5, 10, 97);
}

input {
  width: 80%;
  font-size: 1rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
  border-radius: 30px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.message {
  max-width: 90%;
  margin: 5px 0;
  display: flex;
  font-size: 1em;
  position: relative;
}

.message > #text {
  align-self: center;
  max-width: 500px;
  padding: 5px 1em;
  border-radius: 15px 0 15px 0;
  line-break: anywhere;
}
#msg-hidden-info {
  display: none;
  align-self: center;
  max-width: 3em;
  font-size: 10px;
  color: purple;
}

.message:hover #msg-hidden-info {
  display: flex;
}

.sent {
  flex-direction: row-reverse;
  align-self: flex-end;
  text-align: start;
}

.sent #text {
  border: 2px solid purple;
}

#send-date {
  display: none;
}

.received #text {
  background: #bfb8b8;
  color: black;
}

.chat-message:hover > .uid {
  opacity: 1;
  top: -10px;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}
